.topbar
  .fill
    .container
      = link_to Rails.configuration.application_name, '/', class: 'brand'
      - if user_signed_in?
        %ul.nav
          %li= link_to 'Something', '#'
        .pull-right
          %ul.nav
            %li= link_to current_user.email, edit_user_registration_path
            %li= link_to 'Sign out', destroy_user_session_path, :method => :delete
      - else
        .pull-right
          %ul.nav
            %li=link_to 'Sign in',
                new_user_session_path
            %li=link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
            %li=link_to 'Sign up',new_registration_path(:user)
