/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require variables
 *= require bootstrap
 *= require responsive
 *= require_tree .
*/

#content-container {
  margin-top: 50px;
}

.topbar .nav > li > a:hover {
  background-color: transparent;
}

input[type="text"], textarea, select, .uneditable-input {
  width: 100% !important;

  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="text"], select, .uneditable-input {
  line-height: auto;
  height: auto;
}

fieldset.comments textarea {
  height: 4em !important;
}
fieldset.comments > .comment {
  margin-top: 1em;
  padding-top: 1em;
  border-top: 1px dotted #ccc;
}
